.fotoCompleto {
  background-image: url(../assets/img/contacto.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.tituloContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.tituloContacto h2,
p {
  color: #f1f1f1;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

input[type='text'],
input[type='email'],
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px #ccc;
  font-size: 16px;
  width: 100%;
}

input[type='submit'],
input[type='reset'] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

input[type='submit']:hover,
input[type='reset']:hover {
  background-color: #3e8e41;
}

input[type='submit']:active,
input[type='reset']:active {
  background-color: #3e8e41;
  box-shadow: 0px 0px 3px #888;
  transform: translateY(1px);
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  outline: none;
  box-shadow: inset 0px 0px 7px #ccc;
}

.formButtons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

::placeholder {
  color: #aaa;
}

.locationMap {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
